* {
    font-family: 'Roboto';
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

* {
    -ms-overflow-style: none;
}

.display-5 {
    font-size: 3.0rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-6 {
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-7 {
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 1.2;
}

.display-8 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

#jumbotron {
    margin: 60px 0px 30px 0px;
}

.fs-half {
    font-size: 1.05rem;
}

.materialShadow {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.card-img-top-bg {
    align-items: center;
    flex-direction: column;
    border-radius: 6px;
    text-align: center;
    background: radial-gradient(circle at 20% 20%, #5183f5 25%, #4640ff 100%);
    box-shadow: 0.5rem 1.25rem 1.75rem 0 rgba(100, 110, 140, .4);
    color: hsla(0, 0%, 100%, .9);
}

.card-holder {
    padding: 2rem;
}

.bg-white {
    background-color: #fff !important;
    color: #000 !important;
}

.border-bottom {
    border: 0px;
    border-bottom: 1px solid #dee2e6!important;
}

.subsButton {
    font-size: 1rem;
    padding: 0.4rem 1rem;
    border: none!important;
    background: #fff;
    color: #3972f4;
    border-radius: 5px;
}

.subsButton:hover {
    color: #0c49d4;
}

.px-6 {
    padding: 0rem 2.4rem;
}

.bioLink {
    color: inherit;
    font-weight: 400;
    text-decoration: underline dotted;
}

.bioLink:hover {
    text-decoration: none;
    background-color: #555;
    padding: 0px 1px;
    color: #fff;
}

.anchorText {
    color: inherit;
}

.anchorText:hover {
    text-decoration: none;
}

.customBorder {
    border: 1px solid #4640ff;
}

.customBorder2 {
    border: 1.5px dashed #00000066;
}

.customBorder4 {
    border: 1.5px solid #00000033;
}

.customBorder3 {
    border: 1.5px dashed #4640ff;
}

.customBorder5 {
    border: 1.5px solid #4640ff88;
}

.fs-2 {
    font-size: 1.75rem;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
    .pr-sm-6 {
        padding-right: 110px !important;
    }
}

.customBg {
    background: radial-gradient(circle at 20% 20%, #5183f5 25%, #4640ff 100%);
    color: hsla(0, 0%, 100%, .9);
}

.customBg2 {
    background: radial-gradient(circle at 135% 50%, #4640ff66 0%, #fff 53%);
}

#sayHi:hover {
    animation: shake 1s;
    transition: ease 1s;
    animation-iteration-count: 2;
}

@keyframes shake {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.profile:hover {
    transform: scale(1.4);
    transition: ease 0.5s;
}

#connectBtn:hover {
    animation: shakeR 0.5s;
    transition: ease 1s;
}

@keyframes shakeR {
    25% {
        transform: rotate(5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#projects:hover #projectAnimate {
    animation: flip 1s;
    transition: ease 1s;
}

#skills:hover #skillsAnimate {
    animation: shake 1s;
    transition: ease 1s;
}

#certificates:hover #certificatesAnimate {
    animation: flip 1s;
    transition: ease 1s;
}

#morePro:hover #arrow {
    animation: slide 1s;
    transition: ease 1s;
}

#morePro:hover #moreText {
    /* animation: slide 1s; */
    transition: ease 1s;
}

.profile:not( :hover) {
    /* animation: flip 1s; */
    transform: scale(1.25);
    transition: ease 1s;
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    25% {
        margin-right: 25px;
    }
    100% {
        margin-right: 0px;
    }
}

.skillText {
    font-size: 1.1rem;
}

.title {
    font-weight: 400;
    font-size: 1.1rem;
}

#projectsTitle {
    font-size: 1.5rem;
}

.sectionTitle {
    padding-top: 60px
}

.border2 {
    border-width: 1.5px;
}

a:hover {
    text-decoration: none;
}

.techUsed {
    padding: 0px 5px;
    margin: 0px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    color: white;
    border-radius: 5px;
    line-height: 0px;
    height: 25px;
}

#php {
    background-color: #777bb3;
}

#mySQL {
    background-color: #e99d28;
}

#python {
    background-color: #646464;
}

#json {
    background-color: #2ab131;
}

#js {
    background-color: #F0DB4F;
    color: #323330;
}

#ajax {
    background-color: #5172F4;
}

.offline:hover {
    color: #888;
    cursor: default;
}

#programmingCard:hover #programmingTitle {
    display: none;
    transition: ease 1s;
}

#programmingCard:hover #programmingSkills {
    display: block !important;
    transition: ease 1s;
}

#devopsCard:hover #devopsTitle {
    display: none;
    transition: ease 1s;
}

#devopsCard:hover #devopsSkills {
    display: block !important;
    transition: ease 1s;
}

#communicationCard:hover #communicationTitle {
    display: none;
    transition: ease 1s;
}

#communicationCard:hover #communicationSkills {
    display: block !important;
    transition: ease 1s;
}

#designCard:hover #designTitle {
    display: none;
    transition: ease 1s;
}

#designCard:hover #designSkills {
    display: block !important;
    transition: ease 1s;
}

.certiticateInsti {
    font-size: 0.9rem;
    padding: 5px 0px;
    padding-bottom: 3px;
}

.certificateHint {
    font-size: 0.8rem;
    padding-bottom: 5px;
}

.cetificateAnchor {
    color: #4640ff;
}

.certificateDescription {
    padding: 0;
    font-size: 0.9rem;
}

.swift {
    display: none;
}

#cert1:hover .swift {
    animation: slidee 1s;
    transition: ease 1s;
    display: initial;
    padding-left: 0px;
}

@keyframes bgAn {
    0% {
        background: radial-gradient(circle at 135% 50%, #4640ff66 0%, #fff 53%);
    }
    100% {
        background: radial-gradient(circle at 120% 100%, #4640ff66 0%, #fff 53%);
    }
}

#cert1:hover .customBg2 {
    animation: bgAn 1s;
    transition: ease 1s;
}

#cert2:hover .customBg2 {
    animation: bgAn 1s;
    transition: ease 1s;
}

#cert3:hover .customBg2 {
    animation: bgAn 1s;
    transition: ease 1s;
}

#cert2:hover .swift {
    animation: slidee 1s;
    transition: ease 1s;
    display: initial;
    padding-left: 0px;
}

#cert3:hover #arrow {
    animation: slide 1s;
    transition: ease 1s;
}

.fs-1 {
    padding-top: 3px;
    font-size: 1rem;
}

.setup {
    font-size: 2rem;
    font-weight: 500;
}

.punchline {
    font-size: 1.1rem;
    padding-top: 5px;
}

.text-white {
    color: white !important;
}

@keyframes slidee {
    0% {
        display: initial;
        padding-left: 0px;
    }
    100% {
        display: initial;
        padding-left: 15px;
    }
}

#connectSection {
    background: radial-gradient(circle at 20% 20%, #5183f5 25%, #4640ff 100%);
    color: hsla(0, 0%, 100%, .9);
}

.connectTitle {
    font-size: 2.75rem;
    text-align: center;
}

.rounded-xl {
    border-radius: 10px;
}

.connectBoxes {}

#email {
    background-image: url(gmail.svg);
    background-repeat: no-repeat;
    background-position: 95% 20px;
    /* background-size: contain; */
    background-clip: border-box;
}

#facebook {
    background-image: url(facebook.svg);
    background-repeat: no-repeat;
    background-position: 102% 20px;
    /* background-size: contain; */
    background-clip: border-box;
}

#instagram {
    background-image: url(instagram.svg);
    background-repeat: no-repeat;
    background-position: 108% 20px;
    /* background-size: contain; */
    background-clip: border-box;
}

#linkedin {
    background-image: url(linkedin.svg);
    background-repeat: no-repeat;
    background-position: 95% 20px;
    /* background-size: contain; */
    background-clip: border-box;
}

#whatsapp {
    background-image: url(whatsapp.svg);
    background-repeat: no-repeat;
    background-position: 95% 20px;
    /* background-size: contain; */
    background-clip: border-box;
}

#twitter {
    background-image: url(twitter.svg);
    background-repeat: no-repeat;
    background-position: 95% 20px;
    /* background-size: contain; */
    background-clip: border-box;
}

@media (min-width: 576px) {
    #facebook {
        background-image: url(facebook.svg);
        background-repeat: no-repeat;
        background-position: 100% 20px;
        /* background-size: contain; */
        background-clip: border-box;
    }
    #instagram {
        background-image: url(instagram.svg);
        background-repeat: no-repeat;
        background-position: 100% 20px;
        /* background-size: contain; */
        background-clip: border-box;
    }
}