@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1a1a1a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: #0000ee;
  text-decoration: underline;
}

a:visited {
  color: #551a8b;
}

a:hover {
  color: #0000cc;
}